   .courses{
      font-size: 17px;
      margin: 0 0 12px 0px;
      padding:10px;
  }
  input[type=text], input[type=radio]{
    width: 95%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    
}

th{
    padding: 10px;
}